:where(#mega-container) {
  --megapadding: 3vmax;
}

.sqs-edit-mode .mega-menu-item .user-items-list-section :is(.user-items-list-carousel,.user-items-list-banner-slideshow):after{
  content: 'Auto Layouts Carousel and Slideshow sections are not compatible with the Mega Menu. Your images will not load on the live site. Please use a regular section or simple list instead';
  inset: 0;
  position: absolute;
  color: #000;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

#mega-container { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  height: 100%;
  pointer-events: none;
}

.tweak-fixed-header #mega-container {
  position: fixed;
  z-index: 9;
  width: 100%;
}

.mega-menu-item { 
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  left: 0;
  overflow-y: auto;
  box-sizing: border-box;
  visibility: hidden;
  pointer-events: none;
  min-height: initial!important;
  transition: visibility 0s linear .2s, opacity .2s linear, clip-path .5s ease;
}

.mega-menu-item .section-background {
  overflow: visible;
}

.mega-menu-item .page-section {
  min-height: 0!important;
}

#mega-container .mega-menu-item .content-wrapper {
  padding-block: var(--megapadding);
}

.mega-menu-item.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto!important;
  transition-delay: 0s!important;
}

.header-nav-item, .header-title, .header-actions, .header-burger {
  pointer-events: auto!important;
}

body:not(.sqs-edit-mode-active) #header:has(.mega-link[aria-expanded="true"]) .header-background,
body:not(.sqs-edit-mode-active) #header:has(.mega-link[aria-expanded="true"]) .header-announcement-bar-wrapper {
  pointer-events: none!important;
}

.mega-link + .header-nav-folder-content {
  display: none!important;
}

.mega-menu-item .user-items-list {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.mega-menu-item img {
  position: absolute!important;
  width: 100%!important;
  height: 100%!important;
  top: 0!important;
  left: 0!important;
  object-fit: cover!important;
}

body:is(.sqs-edit-mode-active,.sqs-site-styles-active) #mega-container {
  display: none!important;
}

/* Dynamic Header BG Color Adjustement */
.tweak-fixed-header [data-header-style="dynamic"]#header:has(.mega-link) {
    transition: background 140ms ease-in-out 0ms, transform 140ms ease-in-out;
}

/* Slide Style */
#mega-container.slide .mega-menu-item {
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
  transition: visibility 0s linear .5s, opacity .3s linear .1s, clip-path .5s ease;
}

#mega-container.slide .mega-menu-item.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
