:where(#mega-container) {
  --megapadding: 3vmax;
  --mega-max-width: var(--sqs-site-max-width);
}

.sqs-edit-mode .mega-menu-item .user-items-list-section :is(.user-items-list-carousel,.user-items-list-banner-slideshow):after{
  content: 'Auto Layouts Carousel and Slideshow sections are not compatible with the Mega Menu. Your images will not load on the live site. Please use a regular section or simple list instead';
  inset: 0;
  position: absolute;
  color: #000;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

#mega-container { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  height: 100%;
  pointer-events: none;
  overflow-y: auto;
}

.tweak-fixed-header #mega-container {
  position: fixed;
}

.mega-menu-item { 
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  left: 0;
  overflow-y: auto;
  box-sizing: border-box;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-100%);
  min-height: initial!important;
  transition: visibility 0s linear .2s, opacity .2s linear, transform 0s linear .2s;
}

.mega-menu-item .section-background {
  overflow: visible;
}

.mega-menu-item .page-section {
  min-height: 0!important;
}

.mega-menu-item .page-section:first-child {
  padding-top: var(--csemegaheaderheight)!important;
}

#mega-container .mega-menu-item .content-wrapper {
  padding-block: var(--megapadding);
}

.mega-menu-item.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
  pointer-events: auto!important;
  transition-delay: 0s!important;
}

.header-nav-item, .header-title, .header-actions, .header-burger {
  pointer-events: auto!important;
}

body:not(.sqs-edit-mode-active) #header:has(.mega-link[aria-expanded="true"]) .header-background,
body:not(.sqs-edit-mode-active) #header:has(.mega-link[aria-expanded="true"]) .header-announcement-bar-wrapper {
  pointer-events: none!important;
}

.mega-link + .header-nav-folder-content {
  display: none!important;
}

/* Hide Mega Dropdowns Until Content Loads  */
.header-nav-folder-title[href^="/mega-"] + .header-nav-folder-content {
  visibility: hidden;
}
.header-nav-list:has(.mega-link) .header-nav-folder-title[data-mega-path] + .header-nav-folder-content {
  visibility: visible;
}

.mega-menu-item .user-items-list {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.mega-menu-item img {
  position: absolute!important;
  width: 100%!important;
  height: 100%!important;
  top: 0!important;
  left: 0!important;
  object-fit: cover!important;
}

body:is(.sqs-edit-mode-active,.sqs-site-styles-active) #mega-container {
  display: none!important;
}

/* Dynamic Header BG Color Adjustement */
.tweak-fixed-header [data-header-style="dynamic"]#header:has(.mega-link) {
    transition: background-color 140ms ease-in-out 0ms, transform 140ms ease-in-out;
}

.cse-adaptive-theme #header:has(.mega-link[aria-expanded="true"]):not(.shrink,[data-section-theme=""]) {
  background-color: var(--siteBackgroundColor)!important;
}

.cse-adaptive-theme .mega-menu-item {
  padding-top: var(--csemegaheaderheight) !important;
}
.cse-adaptive-theme .mega-menu-item .page-section:first-child {
  padding-top: 0!important;
}


/* Mobile Styles */
#header [data-folder]:has(.mobile-mega-content) .header-menu-nav-folder-content > div:not(:first-child) {
  display: none;
}

#header [data-folder]:has(.mobile-mega-content) .header-menu-nav-folder-content {
  flex-grow: 0;
}
#header [data-folder]:has(.mobile-mega-content) .header-menu-controls a {
  padding: 0;
  margin-inline: 0;
}

#header [data-folder]:has(.mobile-mega-content) :not(.has-background) :is(.section-border, .section-background) {
    background-color: transparent;
}

/* Inset Style */
.cse-mega-inset #mega-container:not(.mega-inset-click) .mega-menu-item .page-section, #mega-container.mega-inset-click .mega-menu-item {
  max-width: var(--megamaxwidth);
  width: calc(~"100% - (var(--sqs-site-gutter) * 2)");
 left: 50%;
 translate: -50% 0;
  margin-top: var(--csemegaheaderheight)!important;
}
.cse-mega-inset .mega-menu-item .page-section:first-child {
  padding-top: 0!important;
}
.cse-mega-inset #header[data-header-style="dynamic"]:has(.mega-link[aria-expanded="true"]) {
    background-color: var(--siteBackgroundColor)!important;
}
